*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    border-bottom: 1px solid #e8e8e8;
}

.h-container{
    width: 1200px;
    display: flex!important;
    flex-direction: column;
    row-gap: 16px;
    margin: 0 auto;
}


.container1{
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    height: 15px;
    padding-top: 5px;
    font-size: 12px;
    line-height: 15px;
}

.c1-link{
    text-decoration: none;
    color: #999;
}

.c1-link:hover{
    color: #1b1b1b;
}

.container2{
    display: flex;
    justify-content: space-between;
}

.logo{
    width:146px;
    height:56px;
}

.ara{
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
}

input{
    width: 600px;
    height: 45px;
    background-color: rgba(223, 219, 219, 0.37);
    border-radius: 7px;
    border: 0;
    padding: 13px;
    font-size: 14px;
}

input:focus{
    outline: none;
    box-shadow: 1px 1px 10px rgb(221, 136, 8);
}
.search{
    position: absolute;
    right: 10px;
    top: 14px;
    color: orange;
    outline: none;
    border: none;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu-link{
    text-decoration: none;
    color: black;
}

.menu-link > i{
    margin-right: 8px;
}

.menu-link:hover{
    color: orangered;
}

.navigation{
    display: flex;
    padding: 0 16px;
}

.navigation-link{
    text-decoration: none;
    color: black;
    padding: 0 16px 16px 16px;
    position: relative;
}

.navigation-link:hover{
    color: orange;
}

.navigation-link:hover.navigation-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orange;
}