*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

article{
    padding: 70px;

}
.icerik{
    display: flex;
    width: 984px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    margin-left: 20px;
}

.card{
    display: flex;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 216px;
    padding: 15px;
}

.card:hover{
    color: orangered;
}
.card:hover img{
    transform: scale(1.02);
    transition: all .2s linear;
}
.card:nth-child(1){
    background-color: #f6f6f6;
}
.card:nth-child(1):hover{
    background-color: #f6f6f6;
    color: black;
}
.card:nth-child(1) img:hover{
    width: 60px;
    height: 60px;
}

.fiyat{
    color: orangered;
}

a{
    text-decoration: none;
    color: black;
}

.filter{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#siralama{
    height: 29px;
    display: block;
    background: transparent;
    padding: 5px 8px;
    padding-top: 7px;
    font-size: 12px;
    color: #666;
    /* appearance: none; */
}

.teslimat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DEFFED;
    border-radius: 6px;
    height: 68px;
    padding: 0 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}


.info .tittle i{
    color: #0BC15C;
    margin-top: 2px;
    margin-right: 15px;
}

.buton{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #0BC15C;
    margin-left: 10px;
    box-shadow: 0px 1px 3px rgb(0 0 0 3%);
    border-radius: 6px;
    padding: 10px 16px;
    border: none;
}

