/* burda olusturdugumuz classları gerektiginde htmlde kullanabiliriz */
.text-center {
  text-align: center; /* bu classı ortalamak istedigimiz baslıklara dahil edebiliriz */
}

/* baslık boyutları icin bu classları ekleyebiliriz */
.heading-small {
  font-size: 1.25rem;
}

.heading-medium {
  font-size: 1.5rem;
}

.heading-big {
  font-size: 1.75rem;
}
/* buttons */
.btn {
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  height: 47px; /*hover durumunda alt bölümü kaydırdığı için ekledim 
    başka çözümü var mı?*/
  border-radius: 7px;
  letter-spacing: 1px;
}
.btn-primary {
  background-color: #336ea2;
  height: 47px;
}
.btn-primary:hover {
  color: #336ea2;
  background-color: #fff;
  border: 1px solid #336ea2;
}

/* hover özelliğinde kullanmak için background renkleri belirleyebiliriz */

.bg-dark {
  background: #092746;
}

.bg-light {
  background: #336ea2;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}
